.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

#imgInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/static/image-upload.svg");
  width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  color: transparent;
}

#submitBtn {
  margin-top: 2vh;
}
