.container {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-areas:
    "header header header header header"
    "items items items items items";
}

#top {
  grid-area: header;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid black; */
}

#content {
  grid-area: items;
}

#title {
  align-self: flex-start;
  min-width: 250px;
}

#logout,
#create {
  position: fixed;
  height: 50px;
  width: 100px;
}

#logout {
  margin-left: 90%;
}

#create {
  margin-left: 83%;
}

#create button {
  height: 50px;
  color: black;
}

.row {
  /* border: 2px solid black; */
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  padding: 16px 0px;
}

.nodesc {
  color: #0482AD;
}
