.container {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-areas:
    "header header header header header"
    "items items items items items";
}

#top {
  grid-area: header;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid black; */
}

#content {
  grid-area: items;
}

#title {
  align-self: flex-start;
  min-width: 250px;
}

#logout,
#create {
  position: fixed;
  height: 50px;
  width: 100px;
}

#logout {
  right: 0px;
}

#create {
  right: 100px;
}

#create button {
  height: 50px;
  color: black;
}

.row {
  /* border: 2px solid black; */
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  padding: 16px 0px;
}

.nodesc {
  color: #0482AD;
}

.card,
.card button {
  border: 2px solid var(--secondary);
  border-radius: 8px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 16em;
  height: 16em;
  display: inline-block;
  padding: 0px;
  margin-left: .6vw;
  margin-right: .6vw;
  margin-top: .3vw;
  margin-bottom: .3vw;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}


.card:hover {
  transform: scale(1.05);

}

.cardLink {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.cardLink:hover {
  text-decoration: none;
}

.card h1,
p {
  color: black;
}

.card h1 {
  font-size: 20px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

