.container {
  display: flex;
  display: 1;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.content {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary);
  border-radius: 16px;
  padding: 32px;
  width: 20vw;
}

input {
  width: 90%;
  margin-bottom: 16px;
}

label {
  font-weight: 727;
}

h1 {
  font-size: 1.5em;
}
