/* Palette: https://colorhunt.co/palette/6482ad7fa1c3e2dad6f5eded */

* {
  color: var(--text-color);
}

html {
  --bg-color: #F4F1E8;
  --primary: #6482AD;
  --secondary: #7FA1C3;
  --tertiary: #E2DAD6;
  --quarternary: #F5EDED;
  --link-color: #0482AD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
}

input,
textarea {
  padding: 8px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  background-color: inherit;
  box-shadow: none;
  transition: box-shadow 0.3s;
  outline: none;
  font-size: 14px;
}

textarea {
  width: 600px;
  max-width: 30vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(102, 175, 233, 0.5);
}

button {
  padding: 8px 12px;
  background-color: var(--primary);
  color: var(--quarternary);
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}

a.cardLink:hover{
  font-size: larger;
}


div#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align cards */
  gap: 20px;
  /* Add some space between cards */
}
