/* Palette: https://colorhunt.co/palette/6482ad7fa1c3e2dad6f5eded */

* {
  color: var(--text-color);
}

html {
  --bg-color: #F4F1E8;
  --primary: #6482AD;
  --secondary: #7FA1C3;
  --tertiary: #E2DAD6;
  --quarternary: #F5EDED;
  --link-color: #0482AD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
}

input {
  padding: 8px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  background-color: inherit;
}

button {
  padding: 8px 12px;
  background-color: var(--secondary);
  border: 0;
  border-radius: 4px;
}

/* button:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--tertiary);
} */ 
 
/* TODO: this stabs the normal card hover animation */

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align cards */
  gap: 20px;
  /* Add some space between cards */
}

.card,.card button{
  border: 2px solid var(--secondary);
  border-radius: 8px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 250px;
  height: 250px;
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.card:hover {
  
  width: 260px;
  height: 260px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;

}





.cardLink {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.cardLink:hover {
  text-decoration: none;
}

.card h1,
p {
  color: black;
}

.card h1 {
  font-size: 20px;
}
